
div.content {
  text-align: center;
  color: black;
  background-color: #ffaa00;
  border-top: 10px solid #ffaa00;
}

div.img {
  border-bottom: 10px solid red;
  width: 1280px;
  height: auto;
}

html {
  background-color: #ffaa00;
  border-left: 10px solid red;
}

header, div.header {
  text-align: center;
  color: black;
  background-color: #E0FFFF;
}
